body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.calculator{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#pannel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: rgb(215, 251, 183);
    font-size: 2rem;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
}

.numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: antiquewhite;
    height: auto;
    width: 50%;
    gap: 0.5rem;

}

.number{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5rem;
    background-color: rgba(83, 198, 255, 0.455);
    font-size: 2rem;
}

#equal{
    height: 50px;
    width: 50px;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 5rem;
}

#zero{
    width: 80px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5rem;
    background-color: rgba(83, 198, 255, 0.455);
    font-size: 2rem;
}

.operators{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.operator{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: rgba(255, 100, 100, 0.503);
    font-size: 2rem;
}